body {
	color: #FFFFFF;
	background-color: #333;
}

a {
	color: #FFFFCC;
	text-decoration: none;
	font-size: .75em;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-family: 'Georgia', serif;
	margin: 0;
}

h1 {
	border-bottom: 2px solid #eeeeee;
}

h2 {
	font-size: 1.5em;
}

.pane {
	position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #2D3D4A;
    width: 33.33%;
}

.header {
	left: 50%;
	text-align: center;
}

.name {}

.description {}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {
	width: 50%;
	display: block;

}

.flash {
	background: #487786;
}