<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', 
            filename='styles.css') }}">
    </head>

    <body>
        <div class='pane'>
            <div class='header'>
                <h1> {{ restaurant.name }} </h1>

                <div class='flash'>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <h3><li>{{ messages[0] }}</li></h3>
                        {% endif %}
                    {% endwith %}    
                </div>
            </div>
            {% for i in items %}
                <p class='name'>{{ i.name }}</p>
                <p class='description'>{{ i.description }}</p>
                <p class='price'>{{ i.price }}</p>
                <p>{{ i.course }}</p>
                <div class='editdeletepane'>
                    <a href="{{ url_for('editMenuItem', 
                        restaurant_id=restaurant.id, 
                        menu_id=i.id) }}">
                    Edit</a>
                    <br>
                    <a href="{{ url_for('deleteMenuItem', 
                        restaurant_id=restaurant.id, 
                        menu_id=i.id) }}">
                    Delete</a>
                </div>
            {% endfor %}

            <p><a href="{{ url_for('newMenuItem', 
                restaurant_id=restaurant.id) }}">
            Add new menu item</a></p>
        </div>
    </body>
</html>