{% extends "main.html" %}
{% block content %}
    <div class="row top-menu">
        <div class="col-md-10"></div>
        <div class="col-md-2 text-right">
            <a href="{{url_for('gdisconnect')}}">Logout </a>
        </div>
    </div>
    <div class="row divider blue">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner main">
        <div class="col-md-1"></div>
        <div class="col-md-11 padding-none">
            <h1>Restaurants</h1>
        </div>
    </div>

    <div class='flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <h3><li>{{ messages[0] }}</li></h3>
            {% endif %}
        {% endwith %}    
    </div>

    <div class="row padding-top padding-bottom">
        <div class="col-md-1"></div>
        <div class="col-md-10 padding-none"></div>
        <div class="col-md-1"></div>
    </div>
    {% for r in restaurants %}
        <h2 class='name'><a href="{{ url_for('showMenu', 
            restaurant_id=r.id) }}">{{ r.name }}</a></h2>
        <a href="{{ url_for('editRestaurant', 
            restaurant_id=r.id) }}">Edit</a>
        <br>
        <a href="{{ url_for('deleteRestaurant', 
            restaurant_id=r.id) }}">Delete</a>
        <br>
    {% endfor %}

    <p><a href="{{ url_for('newRestaurant') }}">
            Add a Restaurant</a></p>
{% endblock %}